html {
    min-height: 100%;
    /* make sure it is at least as tall as the viewport */
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(230deg, #414141 0%, #000000 74%);
}

a {
    color: inherit;
    text-decoration: inherit;
}

nav {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 50px;
    animation: byTop 1s 0.25s ease both;
    overflow: hidden;
    z-index: 1;
}

nav ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
}

nav li {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 25vw;
    text-align: center;
    color: #888888;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    -webkit-transition: outline 1s;
    /* For Safari 3.0 to 6.0 */
    transition: outline 1s;
    transition: all .25s ease;
}

nav li:hover:not(.activeTab) {
    color: white;
    outline: 1px solid white;
}

.activeTab {
    color: #555555;
    background: #ececec;
}

nav li:active {
    background-color: rgb(126, 126, 126);
}

section {
    display: flex;
    height: 100vh;
}

section .title {
    text-align: left;
    max-width: 70%;
    width: 100%;
    align-self: center;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}

section .title span {
    display: inline-block;
    font-size: 5vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    font-weight: 600;
    letter-spacing: 0.25vw;
}

section .title span.name {
    line-height: 7vh;
    animation: byLeft 1s ease both;
}

section .title span.job {
    line-height: 4vh;
    font-size: 2rem;
    animation: byRight 1s ease both;
}

section .title span.skills {
    line-height: 4vh;
    font-size: 1rem;
    text-align: justify;
    animation: byBottom 1s ease both;
}

#particles-js {
    height: 100%;
    width: 100vw;
    position: absolute;
}


/* pop */

.pop {
    animation: pop 1s ease both;
}

@-moz-keyframes pop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes pop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@-o-keyframes pop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


/* byBottom */

.byBottom {
    animation: byBottom 1s ease both;
}

@-moz-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}


/* byTop */

.byTop {
    animation: byTop 1s ease both;
}

@-moz-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes byTop {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}


/* byRight */

.byRight {
    animation: byRight 1s ease both;
}

@-moz-keyframes byRight {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes byRight {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@-o-keyframes byRight {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes byRight {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}


/* byLeft */

.byLeft {
    animation: byLeft 1s ease both;
}

@-moz-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

@-o-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}


/* linkAfter */

.linkAfter {
    animation: linkAfter 1s ease both;
}

@-moz-keyframes linkAfter {
    0% {
        width: 0;
    }
    100% {
        width: 30px;
    }
}

@-webkit-keyframes linkAfter {
    0% {
        width: 0;
    }
    100% {
        width: 30px;
    }
}

@-o-keyframes linkAfter {
    0% {
        width: 0;
    }
    100% {
        width: 30px;
    }
}

@keyframes linkAfter {
    0% {
        width: 0;
    }
    100% {
        width: 30px;
    }
}