:root {
    --primary-color: #414141;
    --contrast-color: #EFEFEF;
    --secondary-color: rgb(85, 85, 85);
}

html {
    min-height: 100%;
    /* make sure it is at least as tall as the viewport */
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #8360c3;
    /* fallback for old browsers */

    background: -webkit-linear-gradient(180deg, rgb(15, 15, 15), rgb(35, 149, 177));
    background: linear-gradient(180deg, rgb(15, 15, 15), rgb(35, 149, 177));
    background-size: 400% 400%;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 24% 0%
    }

    50% {
        background-position: 77% 100%
    }

    100% {
        background-position: 24% 0%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 24% 0%
    }

    50% {
        background-position: 77% 100%
    }

    100% {
        background-position: 24% 0%
    }
}

@keyframes gradient {
    0% {
        background-position: 24% 0%
    }

    50% {
        background-position: 77% 100%
    }

    100% {
        background-position: 24% 0%
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

#particles-js {
    height: 400%;
    width: 100%;
    position: absolute;
}

nav {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 50px;
    animation: byTop 1s 0.25s ease both;
    overflow: hidden;
    z-index: 1;
}

nav ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul a {
    width: 25%;
}

nav li {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    /* For Safari 3.0 to 6.0 */
}

nav li:hover:not(.activeTab) {
    color: white;
    border-bottom: 1px solid white;
}

.activeTab {
    color: var(--primary-color);
    background: #ececec;
}

nav li:active {
    background-color: #7e7e7e;
}

section {
    display: flex;
    height: 100vh;
}

section#mywork {

    justify-content: center;
}

section .container {
    text-align: center;
    max-width : 70%;
    width     : 100%;
    align-self: center;
    margin    : 0 auto;
    overflow  : hidden;
    min-height: 20%;
}

section .container div {
    display       : inline-block;
    font-size     : 5vw;
    color         : #efefef;
    width         : 100%;
    text-transform: uppercase;
    transform     : translateX(-100%);
    font-weight   : 600;
    letter-spacing: 0.25vw;
}


section .container div.name {
    animation: byLeft 1s ease both;
}

section .container div.job {
    animation     : byRight 1s ease both;
    letter-spacing: 0.63vw;
    font-weight   : 100;
    font-size     : 1.8vw;
}

section .container div.job .developer {
    font-weight: 700;
}

section .container div.skills {
    line-height: 2.5rem;
    font-size  : 1.5rem;
    animation  : byBottom 1s ease both;
}

.column {
    width: 100%;
}




/* pop */

.pop {
    animation: pop 1s ease both;
}

@-moz-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}


/* byBottom */

.byBottom {
    animation: byBottom 1s ease both;
}

@-moz-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}


/* byTop */

.byTop {
    animation: byTop 1s ease both;
}

@-moz-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}


/* byRight */

.byRight {
    animation: byRight 1s ease both;
}

@-moz-keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-o-keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}


/* byLeft */

.byLeft {
    animation: byLeft 1s ease both;
}

@-moz-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-o-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}


/* linkAfter */

.linkAfter {
    animation: linkAfter 1s ease both;
}

@-moz-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-webkit-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-o-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}