:root {
    --primary-color: #414141;
    --contrast-color: #EFEFEF;
    --secondary-color: rgb(85, 85, 85);
}

html {
    min-height: 100%;
    /* make sure it is at least as tall as the viewport */
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a {
    color: inherit;
    text-decoration: inherit;
}

#particles-js {
    height: 100%;
    width: 100vw;
    position: absolute;
}

nav {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 50px;
    animation: byTop 1s 0.25s ease both;
    overflow: hidden;
    z-index: 1;
}

nav ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
}

nav li {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 25vw;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    /* For Safari 3.0 to 6.0 */
}

nav li:hover:not(.activeTab) {
    color: white;
    border-bottom: 1px solid white;
}

.activeTab {
    color: var(--primary-color);
    background: #ececec;
}

nav li:active {
    background-color: #7e7e7e;
}

section {
    display: flex;
    height: 100vh;
}

section .title {
    text-align: center;
    max-width: 70%;
    width: 100%;
    align-self: center;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 30px;
}

section .title span {
    display: inline-block;
    font-size: 5vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    font-weight: 600;
    letter-spacing: 0.25vw;
}

section .title span.name {
    animation: byLeft 1s ease both;
}

section .title span.job {
    font-size: 2.5rem;
    animation: byRight 1s ease both; 
    letter-spacing: 0.44vw;
    font-weight: 20;
}



section .title span.skills {
    line-height:2.5rem;
    font-size: 1.5rem;
    animation: byBottom 1s ease both;
}

.card-container {
    display: flex;
    width: 100%;
    gap: 1vh;
}

/* .card {
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 100px;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
} */

.column {
    width: 100%;
}




/* pop */

.pop {
    animation: pop 1s ease both;
}

@-moz-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}


/* byBottom */

.byBottom {
    animation: byBottom 1s ease both;
}

@-moz-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}


/* byTop */

.byTop {
    animation: byTop 1s ease both;
}

@-moz-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes byTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}


/* byRight */

.byRight {
    animation: byRight 1s ease both;
}

@-moz-keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-o-keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes byRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}


/* byLeft */

.byLeft {
    animation: byLeft 1s ease both;
}

@-moz-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@-o-keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes byLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}


/* linkAfter */

.linkAfter {
    animation: linkAfter 1s ease both;
}

@-moz-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-webkit-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-o-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}