<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <header>
    <nav>
      <ul>
        <li><a href="#about-me">/about-me</a></li>
        <li><a href="#my-skills">/my-skills</a></li>
        <li><a href="#my-work">/my-work</a></li>
      </ul>
    </nav>
    <div class="progress-container">
      <div class="progress-bar" id="myBar" [ngStyle]="{'left': scrollPercentage}"></div>
    </div>
  </header>
  <section id="about-me">
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="area blur"></div>
    <div class="content">
      <h1>My name is David Monserrat</h1>
      <h2>Welcome to my portfolio</h2>
      <div class="rrss">
        You can check my RRSS below
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </section>
  <section id="my-skills"></section>
  <section id="my-work"></section>
</ion-content>
